<div class="flex items-center">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
      <span
        class="absolute inset-[-1000%] animate-[spin_4s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#facc15_0%,#fde047_50%,#facc15_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center w-full px-4 py-1.5 text-sm font-semibold rounded-full cursor-pointer bg-black/70 text-white backdrop-blur-md whitespace-nowrap shadow-inner">
        <slot />
      </div>
    </span>
  </div>
  