---
import type { ACTION_ERROR_CODES } from "astro:actions"
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [ 
  {
    Date: "Febrero – Diciembre 2024",
    Title: "Practicante Preprofesional – Gobierno Regional de Huánuco (Área GRD)",
    Description:
      "Desarrollé e implementé un sistema de control de stock para el almacén de la Gerencia Regional de Desarrollo, permitiendo registrar y dar seguimiento eficiente a los soportes físicos del área. Utilicé tecnologías como Astro, TypeScript y React para crear una solución ágil, moderna y escalable.",
  },
  {
    Date: "Noviembre 2023",
    Title: "Desarrollador Frontend Freelance",
    Description:
      "Desarrollé la interfaz de usuario para una plataforma de reservas de actividades turísticas, adaptando componentes reutilizables con React y Tailwind CSS. Aseguré una experiencia fluida en dispositivos móviles y desktop, siguiendo buenas prácticas de accesibilidad y diseño responsivo.",
  }
];


---

<ol class="relative border-s border-gray-200 ml-4">       
    {
        EXPERIENCIE.map(experiencie => (
                 <li class="mb-10 ms-4">
                    <ExperienceItem {...experiencie}/>
                 </li>
        ))
    }
</ol>