<footer class="w-full max-w-screen-xl lg:w-[740px] mx-auto   py-20 px-6 text-white">
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6 text-center md:text-left">
    
      <span class="text-sm">
        © 2025 <a href="#" class="hover:underline text-yellow-500">Ferchas™</a>. Todos los derechos reservados.
      </span>


      <ul class="flex flex-wrap justify-center md:justify-end gap-6 text-sm font-medium">
        <li>
          <a href="#" class="hover:text-yellow-500 transition-colors">Sobre mí</a>
        </li>
        <li>
          <a href="#" class="hover:text-yellow-500 transition-colors">Contacto</a>
        </li>

      </ul>
  
    </div>
  </footer>
  